{% extends "layout.html.twig" %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% form_theme commentForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>

    <h3>Commentaires</h3>

    {% set marqueur=0 %}
    {% for comment in comments %}
        {% if comment.author.id != marqueur %}
            <strong>{{ comment.author.username }}  : </strong>{{ comment.content }}<em> ----- {{ comment.CommentDate }}</em><span style="margin-left: 20px"><a href="{{ path('report_comment',{ 'idcomment': comment.id ,'idarticle': article.id }) }}">Signaler ce commentaire</a></span>
            {% set marqueur=comment.author.id %}
        {% else %}
            <div style="margin-left: 20px"><strong>{{ comment.author.username }}  : </strong>{{ comment.content }}<em> ----- {{ comment.CommentDate }}</em><span style="margin-left: 20px"><a href="{{ path('report_comment',{ 'idcomment': comment.id,'idarticle': article.id }) }}">Signaler ce commentaire</a></span></div>
            {% set marqueur=comment.author.id %}
        {% endif %}
    {% else %}
        Pas de commentaires.
    {% endfor %}

    <h3>Ajouter un commentaire</h3>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
   
        {{ form_start(commentForm) }}

        {{ form_row(commentForm.content) }}
        {{ form_widget(commentForm.content) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Mettre en ligne" />
            </div>
        </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }}">Se connecter</a> ou <a href="{{ path('register') }}">S'enregistrer</a> pour ajouter un commentaire.
    {% endif %}
{% endblock %}
