{% extends "layout.html.twig" %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% form_theme commentForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>

    <h3>Commentaires</h3>

    {#allow to add margin is same author#}
    {% set marqueur=0 %}

    {% for comment in comments %}
        {% if comment.author.id != marqueur %}
            <article class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <header class="text-right">
                                <div class="comment-user"><i class="fa fa-user"></i> {{ comment.author.username }}</div>
                                <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i>{{ comment.CommentDate }}</time>
                            </header>
                            <div class="comment-post">
                                <p>
                                    {{ comment.content }}
                                </p>
                            </div>
                            <p class="text-right"><a href="{{ path('report_comment',{ 'idcomment': comment.id ,'idarticle': article.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-reply"></i>Signaler ce commentaire</a></p>
                        </div>
                    </div>
                </div>
            </article>
            {% set marqueur=comment.author.id %}
        {% else %}
                <article class="row" style="margin-left: 20px">
                    <div class="col-md-10 col-sm-10">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <header class="text-right">
                                    <div class="comment-user"><i class="fa fa-user"></i> {{ comment.author.username }}</div>
                                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i>{{ comment.CommentDate }}</time>
                                </header>
                                <div class="comment-post">
                                    <p>
                                        {{ comment.content }}
                                    </p>
                                </div>
                                <p class="text-right"><a href="{{ path('report_comment',{ 'idcomment': comment.id ,'idarticle': article.id }) }}" class="btn btn-default btn-sm"><i class="fa fa-reply"></i>Signaler ce commentaire</a></p>
                            </div>
                        </div>
                    </div>
                </article>
            {% set marqueur=comment.author.id %}
        {% endif %}
    {% else %}
        Pas de commentaires.
    {% endfor %}

    <h3>Ajouter un commentaire</h3>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
   
        {{ form_start(commentForm) }}

        {{ form_row(commentForm.content) }}
        {{ form_widget(commentForm.content) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Mettre en ligne" />
            </div>
        </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }}">Se connecter</a> ou <a href="{{ path('register') }}">S'enregistrer</a> pour ajouter un commentaire.
    {% endif %}
{% endblock %}
