{% extends "layout_without_footer.html.twig"  %}
{% form_theme changePasswordForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Changement du mot de passe{% endblock %}

{% block content %}

    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success fade in text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning fade in text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ form_start(changePasswordForm) }}

        {{ form_row(changePasswordForm.passwordNew.first)}}
        {{ form_widget(changePasswordForm.passwordNew.first)}}

        {{ form_row(changePasswordForm.passwordNew.second)}}
        {{ form_widget(changePasswordForm.passwordNew.second)}}


        <div class="form-group text-center">
            <div>
                <input type="submit" class="btn btn-primary" value="Changer mon mot de passe" />
            </div>
        </div>

        {{ form_end(changePasswordForm) }}
    </div>
{% endblock %}