{% extends "layout_without_footer.html.twig"  %}
{% form_theme forgotPasswordForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Mot de passe oublié?{% endblock %}

{% block content %}

    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success fade in text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning fade in text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
    {{ form_start(forgotPasswordForm) }}

    <p class="text-muted lead text-center">
        Saisissez votre adresse email et nous vous enverrons les instructions pour réinitialiser votre mot de passe.
    </p>


    {{ form_row(forgotPasswordForm.email)}}
    {{ form_widget(forgotPasswordForm.email)}}


        <div class="form-group text-center">
            <div>
                <input type="submit" class="btn btn-primary" value="Réinitialiser mon mot de passe" />
            </div>
        </div>

        {{ form_end(forgotPasswordForm) }}
    </div>
{% endblock %}
